<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 04_Term_Paper (2014-02-28 10:40)</string>
	<string>M5.2-1860-1</string>
	<string>M5.2-1859-1</string>
	<string>M5.2-1860-1</string>
	<string>M5.2.2-1877-1</string>
	<string>M5.5.1-2111-1</string>
</array>
</plist>
