<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CLIPSIDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CLIPSIDE.Properties.Settings>
            <setting name="currentDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="dialogFont" serializeAs="String">
                <value>Consolas, 15.75pt</value>
            </setting>
            <setting name="browserFont" serializeAs="String">
                <value>Segoe UI, 12pt</value>
            </setting>
        </CLIPSIDE.Properties.Settings>
    </userSettings>
</configuration>
